body {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);

}

.lateral{
    position: relative;
    display: flex;
}

#historico{
    margin-left: 10px;
    position: relative;
    resize: none;
    text-align: justify;
    height: 60px;
    width: 260px;
}

#sinal{
    margin-left: 5px;
    width: 10px;
    border: none;
}

#escolha ul{
    display: inline-flex;
    margin-top: -10px;
    padding: 0;
    list-style: none;
}

#escolha ul li{
    margin: 5px;
}
